{% extends "layout.html" %}

{% block navigation%}
<a class="nav-item nav-link" href="{{ url_for('about') }}" style="color:blue">About</a>
<a class="nav-item nav-link" href="{{ url_for('new_listing') }}" style="color:blue">Create Listing</a>
{% endblock navigation %}

{% block content %}

    {% for listing in listings %}
        <h1>A new house has been listed!</h1>
        <p>Seller Name: {{ listing.seller }}</p>
        <p>The house has: {{ listing.bedrooms }} bedrooms and {{ listing.bathrooms }} bathrooms</p>
        <p>The current price is ${{ listing.price }}</p>
        <p>The zip code is {{ listing.zipcode }}</p>
        <p>This house was listed on {{ listing.date }}</p>
        <p>Listed by agent {{ listing.agent }} from The {{ listing.office }} Real Estate Office</p>

    {% endfor %}
{% endblock content %}