{% extends "layout.html" %}

{% block navigation%}
<a class="nav-item nav-link" href="{{ url_for('registered_agents') }}" style="color:blue">Registered Agents</a>
<a class="nav-item nav-link" href="{{ url_for('new_listing') }}" style="color:blue">Create Listing</a>
{% endblock navigation %}

{% block content %}
<br>
<br>
<h2>Welcome to the Real Estate Head Office Platform</h2>
<br>
<h3>If you are an agent at one of our offices, register 
    <a href="{{ url_for('agent_register') }}" style="color:blue">here</a></h3>
<br>
<br>
<br>

    {% for listing in listings %}
        <h4>A new house has been listed at {{ listing.date.strftime('%I:%M:%S %p') }}!</h4>
        <p>Seller Name: {{ listing.seller }}</p>
        <p>The house has {{ listing.bedrooms }} bedrooms and {{ listing.bathrooms }} bathrooms</p>
        <p>The current price is ${{ listing.price }}</p>
        <p>The zip code is {{ listing.zipcode }}</p>
        <p>Has the house been sold already: {{ listing.sold }}</p>
        <p>This house was listed on {{ listing.date.strftime('%Y-%m-%d') }}</p>
        <p>Listed by agent {{ listing.agent.name }} from The {{ listing.office }} Real Estate Office</p>
        <h4><a href="{{ url_for('listing', listing_id=listing.id) }}">Check out this listing by agent {{ listing.agent.name }}</a></h4>
        <br>
        <br>
    {% endfor %}
{% endblock content %}