{% extends "layout.html" %}

{% block navigation%}
<a class="nav-item nav-link" href="{{ url_for('home') }}" style="color:blue">Home</a>
<a class="nav-item nav-link" href="{{ url_for('new_listing') }}" style="color:blue">Create Listing</a>
{% endblock navigation %}

{% block content %}
    <h1>Registered Agents</h1>
    <br>
    <br>

    <h4>Make sure to check your agent ID before you create a listing</h4>
    {% for agent in agents %}

    <h4>Thanks for registering as an agent</h4>
    <h6>You have to use your agent ID when creating new listings</h6>
    <p>Your name: {{ agent.name }}</p>
    <p>Your agent id: {{ agent.id }}</p>

    {% endfor %}
    <br>
    <a class="nav-item nav-link" href="{{ url_for('new_listing') }}" style="color:blue">Create Listing</a>
    <br>
    <a class="nav-item nav-link" href="{{ url_for('home') }}" style="color:blue">Go Back Home</a>
    


{% endblock content %}